{% extends 'hw/base.html' %}

{% block content %}

<div>
    <h1>About</h1>

    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugiat eveniet facilis repudiandae quaerat obcaecati pariatur animi sequi exercitationem a hic cumque ipsa et, quo voluptatibus. Est soluta iusto veniam. Voluptas.</p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, id earum? Numquam in non error? Nemo quisquam deserunt fugiat magnam voluptate molestias facilis mollitia sequi iusto. Placeat rerum quas numquam?</p>
</div>

{% endblock %}