<!--Simple homepage template providing information
about the dealership to users-->

{% extends 'project/base.html'%}

{%block content %}
<div class = "container">
<h2>Welcome to the Dealership</h2>
<p>We are a completely online car dealership offering customers high quality vehicles!</p>
<p>To begin, create an account and view our vehicles currently in our inventory.</p>
<p>When you find one you like, select that you are interested and a sales representative will
    offer you a price, which you can accept or reject.
</p>
<p>If you don't like our first offer, feel free to continue browsing for vehicles we may be able to 
    offer a better price on!
</p>
</div>

{% endblock %}