<!--Template which provides login functionality for a user
Ensures that we are submitting a POST request to the server-->

{% extends 'project/base.html' %}

{% block content %}

<h1>Login to the Dealership</h1>
<form action="{% url 'login' %}" method="POST">
    {% csrf_token %}
    {{form}}
    <input type="submit" value="Login">

    {% if request.GET.next %}
    <input type="hidden" name="next" value="{{request.get.next}}">
    {% else %}
    <input type="hidden" name="next" value="{% url 'vehicle_list' %}">
    {% endif %}
</form>

<hr>

{% endblock %}