<!--a template to update a salesperson review-->

{% extends 'project/base.html' %}

{% block content%}

<h2>Update your review</h2>

<div class = "container">
    <div class = "row">
        <form action="{% url 'update_sales_review' review.pk%}" method = "POST">
            {%csrf_token%}
            <table>
                {{form.as_table}}       <!--Display the form to update a review as a table. Also allow users to cancel-->
            </table>
            <input type="submit">
        </form>
        <form action="{% url 'salesperson_details' review.salesperson.pk%}">
            <input type="submit" value="Cancel">
        </form>
    </div>
</div>

{% endblock %}