<!--Base html page to display block content and load resources-->

{% load static %}
<html>
    <head>
        <title>Mini FB Application</title>
        <link rel="stylesheet" href="{% static 'mini_fb/styles.css' %}">
    </head>

    <body>
        <header>
            <h1>Our FB App</h1>
            <nav>
                <ul>
                    <!--I've included a link back to the home page for when you look at 
                    a user's profile details-->
                    <li><a href="{% url 'show_all_profiles' %}">Back to Home</a></li>

                    <!--Conditional rendering based on whether we have a user logged in-->
                    {% if request.user.is_authenticated %}
                    <li><form action="{% url 'logout' %}" method="POST">
                        {% csrf_token %}
                        <input type="submit" value="Logout">
                    </form></li>
                    <li><a href="{% url 'salesmatch_details' %}">Sales in progress</a></li>
                    {% else %}
                    <li><a href="{% url 'login' %}">Login</a></li>
                    <li><a href="{% url 'create_profile' %}">Create a new Profile</a></li>
                    {% endif %}
                </ul>
                <hr>
                {% if request.user.is_authenticated %}
                Logged in as: {{request.user}}
                {% else %}
                Not logged in.
                {% endif %}
            </nav>
        </header>

        {% block content %}
        {% endblock %}
    </body>
</html>