<!--Template to show a single profile
shows all details for single person-->
{% extends 'mini_fb/base.html'%}

{%block content %}

<div class="profile-container">
    <div class="profile-image">
        <img src="{{profile.profile_image_url}}" alt="Image of {{profile.first_name}}">
    </div>

    <div class="profile-details">
        <h1>{{profile.first_name}} {{profile.last_name}}</h1>
        <h2>{{profile.city}}</h2>
        <h3>{{profile.email_address}}</h3>
        <div class = "links-container"> <!--Table for links to create a status message or update the profile-->
            <a href="{% url 'create_status' profile.pk %}">Create a status message</a>
            <a href="{%url 'update_profile' profile.pk %}">Update Profile</a>
            <a href="{%url 'friend_suggestions' profile.pk %}">Friend Suggestions</a>
            <a href="{%url 'show_news' profile.pk %}">News Feed</a>
        </div>
    </div>

    <div class="friends-container">
        {% for friend in profile.get_friends %}     <!--grabbing all of the friends and displayign their info-->
            <div class = "friend-card">
                <a href="{% url 'show_profile' friend.pk %}">
                    <h4>{{friend.first_name}} {{friend.last_name}}</h4>
                    <div class = "friend-img">
                        <img src="{{friend.profile_image_url}}" alt="Image of {{profile.first_name}}">
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>

    <div class = "status-messages">
        {% for status in profile.get_status_message %}      <!--grabbing all of this profiles status messages-->
        <div class = "status-card">
            <h4>{{status.message}}</h4>
            <div class = "image-grid">
                {% for img in status.get_images %}              <!--then grab all images for the status-->
                <img src="{{img.image_file.url}}" alt="{{img.image_file.url}}">
                {%endfor%}
            </div>
            <h4>{{status.published}}</h4>
            <div>
                <h5><a href="{% url 'delete_status' status.pk %}">Delete</a></h5>
                <h5><a href="{%url 'update_status' status.pk %}">Update</a></h5>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}