{% extends 'quotes/base.html' %}

{% block content %}

<div id = "about">
    <h3>About this page</h3>
    <p>This page was created by Matthew Berk (mberk@bu.edu), a student at Boston University</p>
    <br>
    <p>This page contains images and quotes from Bruce Dickinson</p>
    <br>
    <p>Bruce Dickinson is a famous heavy metal singer for the band Iron Maiden. He is famous for his 
        stage presence, vocal range, and good character. He is also a licensed airline pilot and used to fly the band
        around in their own plane.
    </p>
</div>

{% endblock %}